<div id="container1">
  <div id="container2" style="overflow-x: auto; white-space: nowrap;">
    <svg id="vc-svg" width="800" height="400"></svg>
  </div>

  <div>
    <label for="sender">Emisor:</label>
    <select id="sender">
      <option value="P1">P1</option>
      <option value="P2">P2</option>
      <option value="P3">P3</option>
    </select>

    <label for="receiver">Receptor:</label>
    <select id="receiver">
      <option value="P1">P1</option>
      <option value="P2">P2</option>
      <option value="P3">P3</option>
    </select>

    <button id="sendMessageBtn">Enviar Mensaje</button>
  </div>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="/js/vector-clocks.js"></script>
</div>
